.r-image {
    border-radius: 20px;
    border: 3px solid green;
    max-width: 50%;
    margin: 20%;
}
.logo-image {
    height: 40px;
    width: auto;
}
.validation--error{
    color : red;
    font-size: 15px;
}
#thead--row {
    background-color: #7D91B5;
}
.blue-striped tr:nth-child(odd) {
    background-color: #B4DBF8;
}

.green-striped tr:nth-child(even) {
    background-color: #64A5E3;
}
.margin-10 {
    margin-bottom: 10px;
}
.margin-t-10 {
    margin-top: 25px;
}
.validationError {
    color: darkred;
    font-style: italic;
    font-size: 10px;
}
.card {
    margin: 5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
}
footer {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #77a9ff;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 20%;
    min-height: 80%;
}
footer > * {
    color: white;
    font-size: 20px;
    font-family: "Fira Code";

}
.card-body {
    margin  : 5%;
}

.card-img-top {
    height: 100%;
    margin-top: 25%;
}