<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<div th:fragment="content">
  <h1>Liste des déclarations</h1>
  <a class="btn btn-primary float-end margin-10" th:href="@{/declaration/create}">Créer Déclaration</a>

  <table class="table blue-striped green-striped">
    <thead>
    <tr id="thead--row">
      <th>Raison sociale </th>
      <th>Date </th>
      <th>Montant</th>
      <th>Restant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="declaration, rowStatus : ${declarations}">
      <td th:text="${declaration.declarantRaisonSocial}"></td>
      <td th:text="${#dates.format(declaration.dateDeclaration, 'dd/MM/yyyy')}"></td>
      <td th:text="${declaration.montantDeclaration + ' Frs CFA'}"></td>
      <td ><span th:if="${declaration.paiementRestant==0}">Paier Totalement</span>
        <span th:if="${declaration.paiementRestant > 0}"><a   th:href="@{/paiement/declaration/paier/{id}(id=${declaration.id})}" th:text="${declaration.paiementRestant + ' Frs CFA' }">
          <i class="material-icons">visibility</i>
        </a></span> <span style="margin-left: 20px" th:if="${declaration.paiementRestant < declaration.montantDeclaration }">|</span>
        <span th:if="${declaration.paiementRestant < declaration.montantDeclaration }"><a style="margin-left: 20px"  th:href="@{/paiement/declaration/{id}(id=${declaration.id})}" >
          Voir payement
        </a></span>
      </td>
    </tr>
    </tbody>
  </table>
</div>